@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "TAEBAEK milkyway", sans-serif;
  touch-action: pan-y
}

.pretendard {
  font-family: "Pretendard Regular", sans-serif;
}

.dream-cottage {
  font-family: "Dream Cottage Regular", sans-serif;
}

.croisan {
  font-family: "CROISAN Regular", sans-serif;
}